body {
  height:99vh;
  width:99vw;
  margin:0;
  padding:0;
  background:black;
  display:flex;
  flex-direction:auto;
  justify-content: center;
  align-items: center;
}
.gameBoard {
  height:50vh;
  width:100vh;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.towerBoard {
  display:flex;
  background:green;
  height:50vh;
  width:100vh;
}

.tower {
  border:red 0px solid;
  width:33.33%;
  height:100%;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: black;
}
.pole {
  height:100%;
  width:2vh;
  background:green;
  order: -1;
}
.disk {
  height: 10%;
  border: red 1px solid;
  border-radius:1vh;
  flex-shrink:0;
}
#eight {
  width:90%;
}
#seven {
  width:80%;
}
#six {
  width:70%;
}
#five {
  width:60%;
}
#four {
  width:50%;
}
#three {
  width:40%;
}
#two {
  width:30%;
}
#one {
  width:20%;
}
.base {
  width:100vh;
  background:green;
  height:2.5vh;
}
